.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #1928ff;
  height: 832px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 28px;
  top: 26px;
  width: 301px;
  height: 71px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 307px;
  position: absolute;
  right: 0px;
  top: 43px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1183px;
  position: absolute;
  left: 28px;
  top: 127px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 77px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 27px;
}
.professor-contact-paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  width: 1051px;
  height: 81px;
}
.ta-contact-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  width: 677px;
  height: 189px;
}
